
*{
  margin-top: 10px;
  padding: 0px;
}
body{
  min-height: 100vh;
}

.sidebar{
  min-width: 20%;
  gap: 20px;
}

.search{
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: 0.5px solid #ccc;
  }

section{
    display: flex;
    font-size: 12px;
}

img{
    width: 50px;
    margin-bottom: 10px;
}

 li{
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 80%;
    margin-bottom: 10px;    
}

.status-green::before,
 .status-red::before{
  content: "";
  background-color: rgb(27, 221, 27);
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 60%;
  margin-right: 5px;
  }
  
.status-red::before{
  background-color: red;
 }

.contact-chatting{
  background-color:rgb(218, 230, 236) ;
  border-radius: 10px;
}

main{
  width: 80%;
  border: 1px solid #888;
  height: 900px;
}
  
.chat-header{
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin-left: 10px;
  gap: 10px;
}

.name{
  display: flex;
  gap: 15px;
}

.chat-actions{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  margin-right: 10px;
}

.btn-a{
  margin-top: 15px;
}

.chat-actions button{
    font-size: 24px;
    border: none;
    background-color: white;
}

.chat-messages{
    display: flex;
    flex-direction: column;
    height: 700px;
    gap: 20px;
    font-size: 14px;
    margin-top: 0;
    background-color: #faf8f8;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
 }

 p{
    margin-left: 10px;
 }

.message-sent{
    background-color: rgb(229, 245, 245);
    align-self: flex-end;
    min-width: 350px;
    margin-right: 10px;
    border-radius: 5px;
}

.timestamp{
    font-size: 10px;
}

.message-received1,.message-received2{
   background-color: #f0eeee;
   max-width: 250px;
   border-radius: 5px;
   margin-left: 10px;
}

.message-received2{
   max-width: 450px;
}


.chat-footer{
  box-sizing: border-box;
  width: 100%;  
  padding: 10px;
  gap: 10px;
  margin-top: 10px;
}

.chat-footer input{
  width: 100%;
  padding: 10px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #888;
}

.chat-footer button{
    padding: 10px;
    border: none;
    font-size: 28px;
    background-color: white;
  }

 @media (max-width: 480px) {
    .sidebar{
      display: none;
    }
    main{
      width: 100%;
      border: none;
      margin-top: 10px;
    }
    .chat-actions{
      gap: 1px;
    }
    .chat-messages{
      font-size: 14px;
      gap: 10px;
      padding: 10px;
      margin-top: 10px;
    }
    .chat-footer{
      width: 100%;
    }
}



